.hamburger-svg{width:24px;height:18px;display:block}

.hamburger-svg rect{fill:#fff;transition:all .3s ease}

.simple-hamburger{display:flex;flex-direction:column;justify-content:space-between;width:20px;height:14px;margin:0 auto}

:root{--hamburger-line-color:#fff}

.hamburger-line{height:2px;background:var(--hamburger-line-color);border:none;margin:0;padding:0;opacity:1}

@media (width >=769px){.fnf-nav__toggle{visibility:hidden;opacity:0;height:0;width:0;position:absolute;left:-9999px}}

@media (width <=768px){.fnf-nav__toggle{visibility:visible;position:static;left:auto;height:auto;width:auto}}

.fnf-nav__mobile{border:2px solid #fff}